<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="learn/page1" routerLinkActive="active">Page1</a>
  <a routerLink="learn/page2" routerLinkActive="active">Page2</a>
  <a routerLink="learn/page3" routerLinkActive="active">Page3</a>
  <a routerLink="learn/page4" routerLinkActive="active">Page4</a>
  <a routerLink="learn/display/4" routerLinkActive="active">Pass params as id=4</a>
</nav>
<router-outlet></router-outlet>