/* You can add global styles to this file, and also import other style files */
a{
    margin: 10px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}